.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;
}

.navigation {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

.navigation-spacer {
  height: 3rem;
}

.footer-spacer {
  height: 10rem;
}

.pointer {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}